{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/principal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/scrollbar.css' %}">


    <title>Principal</title>
</head>
<body>
    <div class="estadisticas">
        <div class="est-art">
            <div class="texto-est">
                <span class="num-est">134</span>
                <span class="txt">Visitas</span>
            </div>
            <div class="icon-est">
                <ion-icon name="eye-outline"></ion-icon>
            </div>
        </div>
        <div class="est-art">
            <div class="texto-est">
                <span class="num-est">134</span>
                <span class="txt">Ventas</span>
            </div>
            <div class="icon-est">
                <ion-icon name="cart-outline"></ion-icon>
            </div>
        </div>
        <div class="est-art">
            <div class="texto-est">
                <span class="num-est">134</span>
                <span class="txt">Mensajes</span>
            </div>
            <div class="icon-est">
                <ion-icon name="chatbubbles-outline"></ion-icon>
            </div>
        </div>
        
        <div class="est-art">
            <div class="texto-est">
                <span class="num-est">134</span>
                <span class="txt">Ganancias</span>
            </div>
            <div class="icon-est">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="service-box" style="--i:#4EB5FD">
            <a href="reservas.html">
                <div class="icon">
                    <ion-icon name="calendar-number-outline"></ion-icon>
                    <span>RESERVACIONES</span>
                </div>
                <div class="content">
                    <h2>Reservaciones</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut
                        perspiciatis, unde esse obcaecati
                    </p>
                </div>
            </a>
        </div>
        <div class="service-box" style="--i:#FD6495">
            <a href="clientes.html">
                <div class="icon">
                    <ion-icon name="people-circle-outline"></ion-icon>
                    <span>CLIENTES</span>
                </div>
                <div class="content">
                    <h2>Clientes</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut
                        perspiciatis, unde esse obcaecati
                    </p>
                </div>
            </a>
        </div>
        <div class="service-box" style="--i:#FF464F">
            <a href="agentes.html">
                <div class="icon">
                    <ion-icon name="rocket-outline"></ion-icon>
                    <span>AGENTES</span>
                </div>
                <div class="content">
                    <h2>Agentes</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut 
                        perspiciatis, unde esse obcaecati 
                    </p>
                </div>
            </a>
        </div>
        <div class="service-box" style="--i:#F0A908">
            <a href="paquetes.html">
                <div class="icon">
                    <ion-icon name="cube-outline"></ion-icon>
                    <span>PAQUETES</span>
                </div>
                <div class="content">
                    <h2>Paquetes</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut 
                        perspiciatis, unde esse obcaecati 
                    </p>
                </div>
            </a>
        </div>
        <div class="service-box" style="--i:#540d6e">
           <a href="operadoras.html">
            <div class="icon">
                <ion-icon name="earth-outline"></ion-icon>
                <span>OPERADORAS</span>
            </div>
            <div class="content">
                <h2>Operadoras</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut 
                    perspiciatis, unde esse obcaecati 
                </p>
            </div>
           </a>
        </div>
        <div class="service-box" style="--i:#36B47F">
            <a href="proveedores.html">
                <div class="icon">
                    <ion-icon name="paper-plane-outline"></ion-icon>
                    <span>PROVEEDORES</span>
                </div>
                <div class="content">
                    <h2>Proveedores</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut 
                        perspiciatis, unde esse obcaecati 
                    </p>
                </div>
            </a>
        </div>
        <div class="service-box" style="--i:#CE56FE">
            <div class="icon">
                <ion-icon name="cellular-outline"></ion-icon>
                <span>ESTADISTICAS</span>
            </div>
            <div class="content">
                <h2>Estadisticas</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut 
                    perspiciatis, unde esse obcaecati 
                </p>
            </div>
        </div>
        <div class="service-box" style="--i:#ff8600">
            <div class="icon">
                <ion-icon name="construct-outline"></ion-icon>
                <span>HERRAMIENTAS</span>
            </div>
            <div class="content">
                <h2>Herramientas</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut 
                    perspiciatis, unde esse obcaecati 
                </p>
            </div>
        </div>
        
    </div>

    <!--IONICONS-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!--Boxicons-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</body>
</html>