{% extends 'base/base.html' %}
{% load static %}


{% block content %}
    <div class="blur"></div>
    <div class="RegCli hiddenRC">
        <ion-icon name="close-outline" class="closeRC"></ion-icon>
        <span class="titulo-regcli">REGISTRAR UN CLIENTE</span>
        <div class="img-div">
            <div class="img-borde">
                <img src="{% static 'Imgs/art.jpg' %}" alt="Cliente" id="img1">
            </div>
            <form name="subida-imagenes" type="POST" enctype="multipart/formdata" class="form-img">
                <input type="file" name="imagensubida" id="imagensubida" class="input-file dataC" accept="image/png, .jpeg, .jpg, image/gif">
                <label for="imagensubida"><i class="fas fa-upload input-ico"></i></label>
            </form>
            <form action="#" class="form-edad">
                <label for="dia">FECHA DE NACIMIENTO</label>
                <div class="fecha-naci">
                    <div class="Campo fecha">
                        <input class="input dataC" type="number" name="dia" placeholder="Dia" id="dia">
                        <span class="sombra-focus"></span>
                    </div>
                    <div class="Campo fecha">
                        <input class="input dataC" type="number" name="mes" placeholder="Mes"  id="mes">
                        <span class="sombra-focus"></span>
                    </div>
                    <div class="Campo fecha">
                        <input class="input dataC" type="number" name="año" placeholder="Año"  id="año">
                        <span class="sombra-focus"></span>
                    </div>
                </div>
            </form>
        </div>
        <iframe src="calendario.html" name="iframeC" frameborder="0" id="calendarF" scrolling="no" class="frameC"></iframe>

        <form action="{% url 'agregar_cliente' %}" method="post" class="forma">
            {% csrf_token %}
            <span>DATOS DEL CLIENTE</span>
            <div class="Campo">
                <input class="input dataC" type="text" name="nombrec" placeholder="Nombre">
                <span class="sombra-focus"></span>
                <i class="fas fa-user iconoRG"></i>
            </div>
            <div class="Campo">
                <input class="input dataC" type="text" name="telefenoc" placeholder="Teléfono">
                <span class="sombra-focus"></span>
                <i class="fas fa-phone-alt iconoRG"></i>
            </div>
            <div class="Campo">
                <input class="input dataC" type="text" name="usuarioc" placeholder="Usuario">
                <span class="sombra-focus"></span>
                <i class="fas fa-envelope iconoRG"></i>
            </div>
            <div class="Campo">
                <input class="input dataC" type="password" name="passwordc" placeholder="Contraseña">
                <span class="sombra-focus"></span>
                <i class="fas fa-globe-americas iconoRG"></i>
            </div>
            <div class="Campo">
                <input class="input dataC" type="number" name="edadc" placeholder="Edad">
                <span class="sombra-focus"></span>
                <i class="fas fa-globe-americas iconoRG"></i>
            </div>
            <div class="Campo">
                <input class="input dataC" type="text" name="localidad" placeholder="Localidad">
                <span class="sombra-focus"></span>
                <i class="fas fa-globe-americas iconoRG"></i>
            </div>

            <div class="btn-div">
                <button class="btn-reg btn-modificar" type="submit">
                    Registrar
                </button>
            </div>
        </form>


        <!-- Seccion Eliminar -->
        <div class="recientes">
            <div class="titulo">
                <h2>Clientes registrados</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nombre</td>
                        <td>Telefono</td>
                        <td>Usuario</td>
                    </tr>
                </thead>
                <tbody class="TableClientes2">
                        {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente.idcliente }}</td>
                            <td>{{ cliente.nombrec }}</td>
                            <td>{{ cliente.telefenoc }}</td>
                            <td>{{ cliente.usuarioc }}</td>
                            <td>
                                <a href="#" class="btn btn-info btn-circle btn-sm addC" data-cliente-id="{{ cliente.idcliente }}">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-info btn-circle btn-sm removeC" data-cliente-id="{{ cliente.idcliente }}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <img src="{% static 'Imgs/delete.png' %}" alt="Borrar un cliente" class="img-delete">
    </div>

    <div class="opsM">
        <div class="dropdown">
            <input type="text" class="textBox" placeholder="Operacion" readonly>
            <ion-icon name="chevron-down-outline" class="icon"></ion-icon>
            <div class="opcciones">
                <div onclick="mostrar('Agregar')"><ion-icon name="add-circle-outline"></ion-icon>Agregar</div>
                <div onclick="mostrar('Modificar')"><ion-icon name="brush-outline"></ion-icon>Modificar</div>
                <div onclick="mostrar('Eliminar')"><ion-icon name="trash-outline"></ion-icon>Eliminar</div>
                <div onclick="mostrar('Buscar')"><ion-icon name="search-circle-outline"></ion-icon>Buscar</div>
                <div onclick="mostrar('Consulta')"><ion-icon name="help-circle-outline"></ion-icon>Consulta</div>
            </div>
        </div>
        <div class="dropdown" id="d2">
            <input type="text" class="textBox" id="tb2" placeholder="Servicio" readonly>
            <ion-icon name="chevron-down-outline" class="icon"></ion-icon>
            <div class="opcciones">
                <div onclick="mostrar2('Vuelo')"><ion-icon name="airplane-outline"></ion-icon>Vuelo</div>
                <div onclick="mostrar2('Hotel')"><ion-icon name="bed-outline"></ion-icon>Hotel</div>
                <div onclick="mostrar2('Transporte')"><ion-icon name="bus-outline"></ion-icon>Terrestre</div>
                <div onclick="mostrar2('Maritimo')"><ion-icon name="boat-outline"></ion-icon>Maritimo</div>
                <div onclick="mostrar2('Tour')"><ion-icon name="camera-outline"></ion-icon>Tour</div>
            </div>
        </div>
        <button class="goB">GO</button>
    </div>


    <!-- ventana emergente de perfil clientes -->
    <div class="card hide">
        <ion-icon name="close-outline" class="close"></ion-icon>
        <ion-icon name="ellipsis-horizontal-outline" class="submenuCard"></ion-icon>
        <div class="submenuC">
            <div class="opccionesC">
                <div><ion-icon name="add-circle-outline"></ion-icon>Agregar</div>
                <div><ion-icon name="brush-outline"></ion-icon>Modificar</div>
            </div>
        </div>
        <div class="card-header">
            <img src="{% static 'Imgs/us1.jpg' %}" alt="Profile Image" class="profile-img">
        </div>
        <div class="card-body">
            <p class="name">Marisol Sanchez</p>
            <a href="#" class="mail">marisolsnz@gmail.com</a>
            <div class="content2">
                <p class="texto"><span class="municipio">Sahuayo</span></p>
                <ion-icon name="remove-outline"></ion-icon>
                <p class="texto"><span class="edad">24 años</span></p>
                <ion-icon name="remove-outline"></ion-icon>
                <p class="texto"><span class="telefono">3531216500</span></p>
            </div>
            <p class="saldo">Saldo: 12,560</p>
        </div>

        <div class="social-links">
            <a href="#" class="fas fa-phone-alt social-icon"></a>
            <a href="#" class="far fa-envelope social-icon"></a>
            <a href="#" class="fab fa-google social-icon"></a>
            <a href="#" class="fab fa-facebook social-icon"></a>
        </div>

        <div class="card-footer">
            <p class="count">CLIENTE POLARISS</p>
        </div>
    </div>

    <!-- Ventana emergente de registro de clientes -->

    <div class="reservas">
        <!-- Lista de reservaciones -->
        <div class="recientes">
            <div class="titulo">
                <h2>Lista de clientes </h2>
                <a href="#" class="btn">Ver todos</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nombre</td>
                        <td>Telefono</td>
                        <td>Usuario</td>
                        <td>Contraseña</td>
                        <td>Edad</td>
                        <td>Localidad</td>
                    </tr>
                </thead>
                <tbody class="TableClientes">
                    {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente.idcliente }}</td>
                            <td>{{ cliente.nombrec }}</td>
                            <td>{{ cliente.telefenoc }}</td>
                            <td>{{ cliente.usuarioc }}</td>
                            <td>{{ cliente.passwordc }}</td>
                            <td>{{ cliente.edadc }}</td>
                            <td>{{ cliente.localidad }}</td>
                            <td>
                                <a href="#" class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Opciones de reservaciones -->
        <div class="sidecontent">
            <div class="ops mini">
                <div class="minimizar-ops">
                    <ion-icon name="close-outline"></ion-icon>
                </div>
                <a href="#" class="btn-expand">Realizar una nueva reservacion</a>
                    <h2>Operaciones de Clientes </h2>
                <div class="opciones">
                    <ul>
                        <li class="list active2">
                            <a href="#">
                                <span class="icon">
                                    <ion-icon name="person-add-outline"></ion-icon>
                                </span>
                                <span class="text">Agregar</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#">
                                <span class="icon">
                                    <ion-icon name="create-outline"></ion-icon>
                                </span>
                                <span class="text">Modificar</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#">
                                <span class="icon">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </span>
                                <span class="text">Eliminar</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#">
                                <span class="icon">
                                    <ion-icon name="search-circle-outline"></ion-icon>
                                </span>
                                <span class="text">Buscar</span>
                            </a>
                        </li>
                            <li class="list">
                                <a href="#">
                                    <span class="icon">
                                        <ion-icon name="help-circle-outline"></ion-icon>
                                    </span>
                                    <span class="text">Consulta</span>
                                </a>
                            </li>
                        <div class="indicador"></div>
                    </ul>
                </div>
            </div>
            <!-- CLIENTES RECIENTES -->
            <div class="ops-right">
                <div class="header">
                    <h2>Clientes Recientes</h2>
                </div>
                <table>
                    <tbody class="clientesRC">
                        <tr>
                            <td width="60px" class="tdi"><div class="imbBx"><img src="{% static 'Imgs/us1.jpg' %}"></div></td>
                            <td><h4>Marisol</h4>ID: &nbsp<span class="idT">1251301</span>
                                <div class="iconos">
                                    <ion-icon class="profile" name="person-circle-outline"></ion-icon>
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <ion-icon name="call-outline"></ion-icon>
                                </div>
                            </td>
                         </tr>
                         <tr>
                            <td width="60px" class="tdi"><div class="imbBx"><img src="{% static 'Imgs/us2.jpg' %}"></div></td>
                            <td><h4>Dario</h4>ID: &nbsp<span class="idT">1251302</span>
                            <div class="iconos">
                                    <ion-icon class="profile" name="person-circle-outline"></ion-icon>
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <ion-icon name="call-outline"></ion-icon>
                                </div>
                            </td>
                         </tr>
                         <tr>
                            <td width="60px" class="tdi"><div class="imbBx"><img src="{% static 'Imgs/us3.jpg' %}"></div></td>
                            <td><h4>Marcelo</h4>ID: &nbsp<span class="idT">1251303</span>
                            <div class="iconos">
                                    <ion-icon class="profile" name="person-circle-outline"></ion-icon>
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <ion-icon name="call-outline"></ion-icon>
                                </div>
                            </td>
                         </tr>
                         <tr>
                            <td width="60px" class="tdi"><div class="imbBx"><img src="{% static 'Imgs/us4.jpg' %}"></div></td>
                            <td><h4>Juan</h4>ID: &nbsp<span class="idT">1251304</span>
                            <div class="iconos">
                                    <ion-icon class="profile" name="person-circle-outline"></ion-icon>
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <ion-icon name="call-outline"></ion-icon>
                                </div>
                            </td>
                         </tr>
                         <tr>
                            <td width="60px" class="tdi"><div class="imbBx"><img src="{% static 'Imgs/us5.jpeg' %}"></div></td>
                            <td><h4>Rosa</h4>ID: &nbsp<span class="idT">1251305</span>
                            <div class="iconos">
                                    <ion-icon class="profile" name="person-circle-outline"></ion-icon>
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <ion-icon name="call-outline"></ion-icon>
                                </div>
                            </td>
                         </tr>
                         <tr>
                            <td width="60px" class="tdi"><div class="imbBx"><img src="{% static 'Imgs/us6.jpeg' %}"></div></td>
                            <td><h4>Julieta</h4>ID: &nbsp<span class="idT">1251306</span>
                                <div class="iconos">
                                    <ion-icon class="profile" name="person-circle-outline"></ion-icon>
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <ion-icon name="call-outline"></ion-icon>
                                </div></td>
                         </tr>
                         <tr>
                            <td width="60px" class="tdi"><div class="imbBx"><img src="{% static 'Imgs/us7.png' %}"></div></td>
                            <td><h4>Simon</h4>ID: &nbsp<span class="idT">1251307</span>
                            <div class="iconos">
                                    <ion-icon class="profile" name="person-circle-outline"></ion-icon>
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <ion-icon name="call-outline"></ion-icon>
                                </div>
                            </td>
                         </tr>
                         <tr>
                            <td width="60px" class="tdi"><div class="imbBx"><img src="{% static 'Imgs/us8.jpeg' %}"></div></td>
                            <td><h4>Andres</h4>ID: &nbsp<span class="idT">1251308</span>
                            <div class="iconos">
                                    <ion-icon class="profile" name="person-circle-outline"></ion-icon>
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <ion-icon name="call-outline"></ion-icon>
                                </div>
                            </td>
                         </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>

    <form action="{% url 'eliminar_cliente' %}" method="post" id="eliminarClienteForm">
            {% csrf_token %}
            <input type="hidden" name="cliente_id" id="clienteIdInput">
        </form>

{% endblock %}

{% block java %}
    <script>
    document.addEventListener('DOMContentLoaded', function () {
    const form = document.querySelector('.forma');
    const nombreInput = form.querySelector('[name="nombrec"]');
    const telefonoInput = form.querySelector('[name="telefenoc"]');
    const usuarioInput = form.querySelector('[name="usuarioc"]');
    const passwordInput = form.querySelector('[name="passwordc"]');
    const edadInput = form.querySelector('[name="edadc"]');
    const localidadInput = form.querySelector('[name="localidad"]');
    let clienteSeleccionadoId = null;

    const editButtons = document.querySelectorAll('.addC');
    editButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            clienteSeleccionadoId = button.getAttribute('data-cliente-id');

            // Hacer una solicitud AJAX a la vista obtener_datos_cliente
            fetch(`/obtener_datos_cliente/${clienteSeleccionadoId}/`)
                .then(response => response.json())
                .then(data => {
                    // Llenar los campos del formulario con los datos obtenidos
                    nombreInput.value = data.nombrec;
                    telefonoInput.value = data.telefenoc;
                    usuarioInput.value = data.usuarioc;
                    passwordInput.value = data.passwordc;
                    edadInput.value = data.edadc;
                    localidadInput.value = data.localidad;
                })
                .catch(error => console.error('Error:', error));
        });
    });

    const modificarButton = document.querySelector('.btn-modificar');
    modificarButton.addEventListener('click', function (event) {
        event.preventDefault();

        // Verificar si se ha seleccionado un cliente
        if (clienteSeleccionadoId) {
            // Crear un objeto con los datos del formulario
            const data = {
                'nombrec': nombreInput.value,
                'telefenoc': telefonoInput.value,
                'usuarioc': usuarioInput.value,
                'passwordc': passwordInput.value,
                'edadc': edadInput.value,
                'localidad': localidadInput.value,
            };

            // Hacer una solicitud AJAX para modificar el cliente
            fetch(`/modificar_cliente/${clienteSeleccionadoId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(data => {
                    // Manejar la respuesta del servidor, por ejemplo, mostrar un mensaje de éxito
                    console.log(data);
                    window.location.reload();
                })
                .catch(error => console.error('Error:', error));
        } else {
            console.error('No se ha seleccionado un cliente para modificar.');
        }
    });


   const removeButtons = document.querySelectorAll('.removeC');

    removeButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            const clienteId = button.getAttribute('data-cliente-id');

            // Mostrar la confirmación con SweetAlert
            Swal.fire({
                title: 'Polariss: Agencia de Viajes',
                text: 'Esta acción no se puede deshacer',
                icon: 'question',
                showCancelButton: true,
                cancelButtonText: 'No, Cancelar',
                confirmButtonText: 'Sí, Eliminar',
                reverseButtons: true,
                confirmButtonColor: '#E74A3B'
            }).then(function (result) {
                if (result.isConfirmed) {
                    // Configurar el valor del campo de entrada del formulario
                    clienteIdInput.value = clienteId;

                    // Enviar el formulario para eliminar el cliente
                    eliminarClienteForm.submit();
                }
            });
        });
    });

});
</script>
{% endblock %}

