{% extends 'base/base.html' %}
{% load static %}

{% block style %}
    <style>
        :root{
    --white: white;
    --color: #540d6e;
    --color2: #540d6e99;
    --black1: #24252A;
    }
    h4{
        font-size: 15px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="blur"></div>
    <div class="RegCli hiddenRC">
        <ion-icon name="close-outline" class="closeRC"></ion-icon>
        <span class="titulo-regcli">REGISTRAR UNA OPERADORA</span>
        <div class="img-div">
            <div class="img-borde">
                <img src="{% static 'Imgs/art.jpg' %}" alt="Operadora" id="img1">
            </div>
            <form name="subida-imagenes" type="POST" enctype="multipart/formdata" class="form-img">
                <input type="file" name="imagensubida" id="imagensubida" class="input-file dataC" accept="image/png, .jpeg, .jpg, image/gif">
                <label for="imagensubida"><i class="fas fa-upload input-ico"></i></label>
            </form>
        </div>
        <iframe src="calendario.html" name="iframeC" frameborder="0" id="calendarF" scrolling="no" class="frameC"></iframe>

        <form action="{% url 'agregar_operadora' %}" method="post" class="forma">
            {% csrf_token %}
            <span>DATOS DE LA OPERADORA</span>
            <div class="Campo">
                <input class="input dataC" type="text" name="nombre" placeholder="Nombre">
                <span class="sombra-focus"></span>
                <i class="fas fa-user iconoRG"></i>
            </div>
            <div class="Campo">
                <input class="input dataC" type="text" name="email" placeholder="Email">
                <span class="sombra-focus"></span>
                <i class="fas fa-phone-alt iconoRG"></i>
            </div>

            <div class="btn-div">
                <button class="btn-reg btn-modificar" type="submit">
                    Editar
                </button>
            </div>

             <div class="btn-div">
                <button class="btn-reg btn-agregar" type="submit">
                     Registrar
                </button>
            </div>
        </form>


        <!-- Seccion CRUDS -->
        <div class="recientes">
            <div class="titulo">
                <h2>Operadoras registrados</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nombre</td>
                        <td>Email</td>
                    </tr>
                </thead>
                <tbody class="TableClientes2">
                        {% for operadora in operadoras %}
                        <tr>
                            <td>{{ operadora.clave }}</td>
                            <td>{{ operadora.nombre }}</td>
                            <td>{{ operadora.email }}</td>
                            <td>
                                <a href="#" class="btn btn-info btn-circle btn-sm addC" data-cliente-id="{{ operadora.clave }}">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-info btn-circle btn-sm removeC" data-cliente-id="{{ operadora.clave }}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <img src="{% static 'Imgs/delete.png' %}" alt="Borrar una operadora" class="img-delete">
    </div>

    <div class="opsM">
        <div class="dropdown">
            <input type="text" class="textBox" placeholder="Operacion" readonly>
            <ion-icon name="chevron-down-outline" class="icon"></ion-icon>
            <div class="opcciones">
                <div onclick="mostrar('Agregar')"><ion-icon name="add-circle-outline"></ion-icon>Agregar</div>
                <div onclick="mostrar('Modificar')"><ion-icon name="brush-outline"></ion-icon>Modificar</div>
                <div onclick="mostrar('Eliminar')"><ion-icon name="trash-outline"></ion-icon>Eliminar</div>
                <div onclick="mostrar('Buscar')"><ion-icon name="search-circle-outline"></ion-icon>Buscar</div>
                <div onclick="mostrar('Consulta')"><ion-icon name="help-circle-outline"></ion-icon>Consulta</div>
            </div>
        </div>
        <div class="dropdown" id="d2">
            <input type="text" class="textBox" id="tb2" placeholder="Servicio" readonly>
            <ion-icon name="chevron-down-outline" class="icon"></ion-icon>
            <div class="opcciones">
                <div onclick="mostrar2('Vuelo')"><ion-icon name="airplane-outline"></ion-icon>Vuelo</div>
                <div onclick="mostrar2('Hotel')"><ion-icon name="bed-outline"></ion-icon>Hotel</div>
                <div onclick="mostrar2('Transporte')"><ion-icon name="bus-outline"></ion-icon>Terrestre</div>
                <div onclick="mostrar2('Maritimo')"><ion-icon name="boat-outline"></ion-icon>Maritimo</div>
                <div onclick="mostrar2('Tour')"><ion-icon name="camera-outline"></ion-icon>Tour</div>
            </div>
        </div>
        <button class="goB">GO</button>
    </div>


    <!-- ventana emergente de perfil Operadoras -->
    <div class="card hide">
        <ion-icon name="close-outline" class="close"></ion-icon>
        <ion-icon name="ellipsis-horizontal-outline" class="submenuCard"></ion-icon>
        <div class="submenuC">
            <div class="opccionesC">
                <div><ion-icon name="add-circle-outline"></ion-icon>Modificar</div>
                <div><ion-icon name="trash-outline"></ion-icon>Eliminar</div>

            </div>
        </div>
        <div class="card-header">
            <img src="{% static 'Imgs/us1.jpg' %}" alt="Profile Image" class="profile-img">
        </div>
        <div class="card-body">
            <p class="name">Marisol Sanchez</p>
            <a href="#" class="mail">marisolsnz@gmail.com</a>
            <div class="content2">
                <p class="texto"><span class="municipio">Sahuayo</span></p>
                <p class="texto"><span class="edad">24 años</span></p>
                <p class="texto"><span class="telefono">3531216500</span></p>
            </div>
            <p class="saldo">Saldo: 12,560</p>
        </div>

        <div class="social-links">
            <a href="#" class="fas fa-phone-alt social-icon"></a>
            <a href="#" class="far fa-envelope social-icon"></a>
            <a href="#" class="fab fa-google social-icon"></a>
            <a href="#" class="fab fa-facebook social-icon"></a>
        </div>

        <div class="card-footer">
            <p class="count">OPERADORAS</p>
        </div>
    </div>

    <!-- Ventana emergente de registro de Operadoras -->

    <div class="reservas">
        <!-- Lista de reservaciones -->
        <div class="recientes">
            <div class="titulo">
                <h2>Lista de Operadoras </h2>
                <a href="{% url 'operadoras:operadoras_list' %}"  class="btn btn-dark">Ver todos</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nombre</td>
                        <td>Email</td>
                    </tr>
                </thead>
                <tbody class="TableClientes">
                    {% for operadora in operadoras %}
                        <tr>
                            <td>{{ operadora.clave }}</td>
                            <td>{{ operadora.nombre }}</td>
                            <td>{{ operadora.email }}</td>
                            <!--
                            <td>
                                <a href="#" class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Opciones de reservaciones -->
        <div class="sidecontent">
            <div class="ops mini">
                <div class="minimizar-ops">
                    <ion-icon name="close-outline"></ion-icon>
                </div>
                <a href="#" class="btn-expand">Menú Operadoras</a>
                    <h2>Operaciones de Operadoras </h2>
                <div class="opciones">
                    <ul>
                        <li class="list active2">
                            <a href="#">
                                <span class="icon">
                                    <ion-icon name="person-add-outline"></ion-icon>
                                </span>
                                <span class="text">Agregar</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#">
                                <span class="icon">
                                    <ion-icon name="create-outline"></ion-icon>
                                </span>
                                <span class="text">Modificar</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#">
                                <span class="icon">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </span>
                                <span class="text">Eliminar</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#">
                                <span class="icon">
                                    <ion-icon name="search-circle-outline"></ion-icon>
                                </span>
                                <span class="text">Buscar</span>
                            </a>
                        </li>
                            <li class="list">
                                <a href="#">
                                    <span class="icon">
                                        <ion-icon name="help-circle-outline"></ion-icon>
                                    </span>
                                    <span class="text">Consulta</span>
                                </a>
                            </li>
                        <div class="indicador"></div>
                    </ul>
                </div>
            </div>


            <!-- Operadoras RECIENTES -->
            <div class="ops-right">
                <div class="header">
                    <h2>Operadoras Recientes</h2>
                </div>
                <table>
                    <tbody class="clientesRC">

                        {% for operadora in operadoras %}

                            <tr class="trC">
                                <td width="60px" class="tdi"><div class="imbBx"><img src="{% static 'Imgs/us1.jpg' %}"></div></td>
                                <td><h4>{{ operadora.nombre }}</h4>ID: &nbsp<span class="idT">{{ operadora.clave }}</span>
                                    <div class="iconos">
                                        <ion-icon class="profile" name="person-circle-outline"></ion-icon>
                                        <ion-icon name="mail-outline"></ion-icon>
                                        <ion-icon name="call-outline"></ion-icon>
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>
                </div>
            </div>
        </div>

    <form action="{% url 'eliminar_operadora' %}" method="post" id="eliminarOperadoraForm">
            {% csrf_token %}
            <input type="hidden" name="clave" id="operadoraClaveInput">
    </form>

{% endblock %}

{% block java %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {

    //Llenado de form al dar click a un elemnto de la tabla
    const form = document.querySelector('.forma');
    const nombreInput = form.querySelector('[name="nombre"]');
    const emailInput = form.querySelector('[name="email"]');
    let clienteSeleccionadoId = null;

    const editButtons = document.querySelectorAll('.addC');
    editButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            clienteSeleccionadoId = button.getAttribute('data-cliente-id');

            // Hacer una solicitud AJAX a la vista obtener_datos_cliente
            fetch(`/obtener_datos_operadora/${clienteSeleccionadoId}/`)
                .then(response => response.json())
                .then(data => {
                    // Llenar los campos del formulario con los datos obtenidos
                    nombreInput.value = data.nombre;
                    emailInput.value = data.email;
                })
                .catch(error => console.error('Error:', error));
        });
    });

    //Procedimineto para modificar sin recargar(AJAX) al hacer click
    const modificarButton = document.querySelector('.btn-modificar');
    modificarButton.addEventListener('click', function (event) {
        event.preventDefault();

        if(clienteSeleccionadoId)
        {
            // Verificar si se ha seleccionado una operadora
            if (clienteSeleccionadoId) {
                // Crear un objeto con los datos del formulario
                const data = {
                    'nombre': nombreInput.value,
                    'email': emailInput.value,
                };

                // Hacer una solicitud AJAX para modificar el cliente
                fetch(`/modificar_operadora/${clienteSeleccionadoId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                    .then(response => response.json())
                    .then(data => {
                        // Manejar la respuesta del servidor, por ejemplo, mostrar un mensaje de éxito
                        console.log(data);
                        window.location.reload();
                    })
                    .catch(error => console.error('Error:', error));
            } else {
                console.error('No se ha seleccionado una operadora para modificar.');
            }
        }
         else{
            console.error('No se ha seleccionado una operadora para modificar.')
        }
    });

    
    //Procedimineto para borrado
   const removeButtons = document.querySelectorAll('.removeC');
    removeButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            const operadoraClave = button.getAttribute('data-cliente-id');

            // Mostrar la confirmación con SweetAlert
            Swal.fire({
                title: 'Polariss: Agencia de Viajes',
                text: 'Esta acción no se puede deshacer',
                icon: 'question',
                showCancelButton: true,
                cancelButtonText: 'No, Cancelar',
                confirmButtonText: 'Sí, Eliminar',
                reverseButtons: true,
                confirmButtonColor: '#F94144'
            }).then(function (result) {
                if (result.isConfirmed) {
                    // Configurar el valor del campo de entrada del formulario
                    operadoraClaveInput.value = operadoraClave;

                    // Enviar el formulario para eliminar el cliente
                    eliminarOperadoraForm.submit();
                }
            });
        });
    });

    });
    </script>
{% endblock %}

