{% extends 'base/base.html' %}


{% block style %}
    <style>
    .btn-primary{
        background-color: var(--color);
        border-color: var(--color2);
    }
    .btn-primary:hover{
        background-color: var(--color2);
        border-color: var(--color2);
    }

         .ui-slider-range {background-color: #FF464F;}

    </style>
{% endblock %}


{% block javascript %}
    <script>
        function eliminarProducto(id){
            Swal.fire({
                'tittle':'Cava Jiquilpan',
                'text' : 'Esta accion no se puede deshacer',
                'icon':'question',
                'showCancelButton':true,
                'cancelButtonText':'No, Cancelar',
                'confirmButtonText':'Si, Eliminar',
                'reverseButtons':true,
                'confirmButtonColor':'#E74A3B'
            }).then(function (result){
                if (result.isConfirmed){
                    window.location.href="/clientes/categorias_list/"+id+"/"
                }
            })
        }
    </script>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->

        <!-- Filtro para pagos -->
        <div id="filtro-pagos" class="container-fluid p-3 border mb-2" style="display: {% if get_params %}block{% else %}none{% endif %};">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Filtrar Pagos</h6>
            </div>
            <div class="card-body">
                {% if not pagos %}
                    <div class="alert alert-warning" role="alert">
                        No se encontraron resultados para los filtros seleccionados.
                    </div>
                {% endif %}
                <form method="get" class="row">
                    <div class="form-group col-sm-3 mb-3">
                        <label for="venta">Venta:</label>
                        <input type="text" name="venta" placeholder="Nombre de la Venta" value="{{ get_params.venta }}">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="fecha_min">Fecha mínima:</label>
                        <input type="date" name="fecha_min" placeholder="Fecha mínima" value="{{ get_params.fecha_min }}">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="fecha_max">Fecha máxima:</label>
                        <input type="date" name="fecha_max" placeholder="Fecha máxima" value="{{ get_params.fecha_max }}">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="metodo">Método:</label>
                        <select name="metodo">
                            <option value="">Seleccionar método</option>
                            <option value="Efectivo" {% if get_params.metodo == 'Efectivo' %} selected {% endif %}>Efectivo</option>
                            <option value="Tarjeta" {% if get_params.metodo == 'Tarjeta' %} selected {% endif %}>Tarjeta</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 mb-3">
                        <label for="monto">Monto del Pago:</label>
                        <div id="monto_slider"></div>
                        <input type="hidden" id="monto_min" name="monto_min" value="{{ get_params.monto_min }}">
                        <input type="hidden" id="monto_max" name="monto_max" value="{{ get_params.monto_max }}">
                        <div id="monto_range_value">$0 - $1000</div>
                    </div>

                    <div class="form-group col-sm-3 align-self-end"></div>
                    <div class="form-group col-sm-3 align-self-end"></div>


                    <div class="form-group col-sm-3 align-self-end">
                        <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
                        <a href="{% url 'pagos' %}" class="btn btn-secondary mt-2">Limpiar Filtros</a>
                    </div>
                </form>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="container-fluid p-3 border mb-4">
            <div class="card-header pb-3" >
                {#                            <h6 class="m-0 font-weight-bold text-primary">Listado de categorias</h6>#}
                <a href="{% url 'pagos_new' %}" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                    <span class="text">Nuevo Pago</span>
                </a>
                &nbsp
                 <a href="#" class="btn btn-primary btn-icon-split" onclick="toggleFiltro()">
                    <span class="icon text-white-50">
                        <i class="fas fa-filter"></i>
                    </span>
                    <span class="text">Filtrar Pagos</span>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <td>Venta</td>
                            <td>Fecha</td>
                            <td>Metodo</td>
                            <td>Monto</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pago in pagos %}
                        <tr>
                            <td>{{ pago.venta }}</td>
                            <td>{{ pago.fecha }}</td>
                            <td>{{ pago.metodo }}</td>
                            <td>{{ pago.monto }}</td>

                            <td class="text-center">
                                    <a href="{% url 'pagos_update' pago.id %}" class="btn btn-success btn-circle btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>
                            </td>
                            <td class="text-center">
                                <a href="{% url 'pagos_delete' pago.id %}" class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            <!-- PAGINACION -->
            <div class="row">
        <div class="col-lg-12">
            {% if page_obj.has_other_pages %}
                <nav>
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">
                                    Primero
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    Anterior
                                </a>
                            </li>
                        {% endif %}

                        {% for page_number in page_obj.paginator.page_range %}
                            {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                                {% if page_obj.number == page_number %}
                                    <li class="page-item active">
                                        <a class="page-link" href="?page={{ page_number }}">
                                            {{ page_number }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_number }}">
                                            {{ page_number }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    Siguiente
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                    Ultimo
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>


            </div>
        </div>
{% endblock content %}

{% block java %}
    <script>
         // Función para alternar la visibilidad del filtro
        function toggleFiltro() {
        var filtro = document.getElementById('filtro-pagos');
        if (filtro.style.display === 'none') {
            filtro.style.display = 'block';
        } else {
            filtro.style.display = 'none';
        }
        }

       $(function() {
    $("#monto_slider").slider({
        range: true,
        min: 0,
        max: 10000,
        step: 10,
        values: [{{ get_params.monto_min|default:0 }}, {{ get_params.monto_max|default:1000}}],
        slide: function(event, ui) {
            $("#monto_min").val(ui.values[0]);
            $("#monto_max").val(ui.values[1]);
            $("#monto_range_value").text("$" + ui.values[0] + " - $" + ui.values[1]);
        }
    });

    // Actualizar el valor del rango al cargar la página
    var montoMinInicial = $("#monto_slider").slider("values", 0);
    var montoMaxInicial = $("#monto_slider").slider("values", 1);
    $("#monto_range_value").text("$" + montoMinInicial + " - $" + montoMaxInicial);
});
    </script>
{% endblock %}