{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
    <style>
    .text-primary{
        padding-top: 20px;
        color: var(--color);
    }


    /* Estilos para tipo de vuelo */
    .div_tipoV input[type="radio"] {
        -webkit-appearance: none;
    }

    .div_tipoV label {
        height: 100%;
        width: 140px;
        margin: auto;
        position: relative;
        color: #18f98d;
        transition: 0.5s;
        border: 5px solid var(--color);
        border-radius: 0.5em;
    }

    .div_tipoV .fa {
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
    }

    .div_tipoV label>span {
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 80%);
    }

    .div_tipoV input[type="radio"]:checked + label {
        background-color: #18f98d;
        color: #ffffff;
        box-shadow: 0 15px 45px rgb(24, 249, 141, 0.2);
    }

    /* Estilos para clases de vuelo */
    .form-check input[type="radio"] {
        display: none;
    }

    .form-check label {
        position: relative;
        color: var(--color);
        font-family: "Poppins", sans-serif;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 0.8em;
        border: 3px solid var(--color);
        padding: 1em 2em;
        border-radius: 0.5em;
    }

    .form-check label:before {
        content: "";
        height: 2em;
        width: 2em;
        border: 3px solid var(--color);
        border-radius: 50%;
    }

    .form-check input[type="radio"]:checked + label:before {
        height: 1em;
        width: 1em;
        border: 0.65em solid #ffffff;
        background-color: var(--color);
        transition: all 0.3s;
    }

    .form-check input[type="radio"]:checked + label {
        background-color: var(--color);
        color: #ffffff;
        transition: all 0.3s;
    }
    </style>

{% endblock %}

{% block content %}

<div class=" overflow-y-auto" style="height: 90vh ">

    <div class="grid" >

        <div class="d-flex mb-2">
            <!-- Radio buttons para tipo de vuelo -->
            <div class="d-flex div_tipoV">
                    <input type="radio" name="tipoVuelo" id="cardTipoVuelo">
                    <label for="cardTipoVuelo">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span>Vuelo&nbsp;Redondo</span>
                    </label>
                    &nbsp;
                    <input type="radio" name="tipoVuelo" id="cashTipoVuelo">
                    <label for="cashTipoVuelo">
                        <i class="fa fa-plane" aria-hidden="true"></i>
                        <span>Vuelo&nbsp;Sencillo</span>
                    </label>
                </div>

                <!-- Radio buttons para clases de vuelos -->
            <div class="d-flex align-items-center">
                 <div class="form-check">
                    <input type="radio" name="claseVuelo" id="cardClaseVuelo" checked="checked" class="form-check-input" />
                    <label for="cardClaseVuelo" class="form-check-label">Clase&nbsp;Economica</label>
                </div>

                <div class="form-check">
                    <input type="radio" name="claseVuelo" id="cashClaseVuelo" class="form-check-input" />
                    <label for="cashClaseVuelo" class="form-check-label">Primera&nbsp;Clase</label>
                </div>

                <div class="form-check">
                    <input type="radio" name="claseVuelo" id="otherClaseVuelo" class="form-check-input" />
                    <label for="otherClaseVuelo" class="form-check-label">Clase&nbsp;Ejecutiva</label>
                </div>
            </div>

        </div>


        <div class="O">

            <input class="form-control"
            list="GFGOptions" id="GFGDataList"
            placeholder="Select option">
                    <datalist id="GFGOptions">
                     {% for city in cities_json|slice:":10" %}
                        <option value="{{ city.region }}">
                    {% endfor %}
                </datalist>

            <a class="t3">Selecciona tu Origen</a>
            <a class="t4">Selecciona un Destino</a>
            <div class="vacio1">

            </div>
        </div>
        <div class="D">
            <a class="t3">Seleccione un Destino</a>
            <a class="t4">Selecciona un Destino</a>
            <div class="vacio2">

            </div>
        </div>
        <div class="Fs">
            <a class="t5">salida</a>
            <a class="t5">dd/mm/aa</a>
            <ion-icon name="calendar-number-outline" class="icon1"></ion-icon>
        </div>
        <iframe src="calendario.html" name="iframeC" frameborder="0" id="calendarF" scrolling="no" class="frameC"></iframe>
        <div class="Fl">
            <a class="t5">Regreso</a>
            <a class="t5">dd/mm/aa</a>
            <ion-icon name="calendar-number-outline" class="icon1"></ion-icon>
        </div>
        <div class="P">
            <a class="t5">Pasajeros</a>
            <a class="t5">2 Adultos</a>
            <ion-icon name="caret-forward-outline" class="icon2"></ion-icon>
            <div class="vacio3">
                <div class="Ad">
                    <a class="achingarasumadre">Adultos</a>
                    <div class="der">
                        <ion-icon name="remove-circle-outline"></ion-icon>
                        <a>2</a>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                </div>
                <div class="Niñ">
                    <a class="achingarasumadre">Niños</a>
                    <div class="der">
                        <ion-icon name="remove-circle-outline"></ion-icon>
                        <a>0</a>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                </div>
                <div class="Es">
                    <a class="achingarasumadre">Estudiantes</a>
                    <div class="der">
                        <ion-icon name="remove-circle-outline"></ion-icon>
                        <a>0</a>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                </div>
                <div class="Ma">
                    <a class="achingarasumadre">Mascotas</a>
                    <div class="der">
                        <ion-icon name="remove-circle-outline"></ion-icon>
                        <a>0</a>
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="B">
            <a class="t6">Agregar Vuelos</a>
        </div>
    </div>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 font-weight-bold text-primary">Nueva Reservacion de Vuelo</h1>

        <!-- DataTales Example -->
        <div class="shadow mb-4">
            <div class="card-header py-3">

            </div>
            <div class="card-body">
                {{ mensaje }}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <div class="d-flex justify-content-end">
                        <a href="{% url 'reservacionesV_list' %}" class="btn btn-danger btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-times-circle"></i>
                                        </span>
                                        <span class="text">Cancelar</span>
                        </a>

                        &nbsp;
                       <button type="submit" class="btn btn-success">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                        <span class="text">Agregar</span>
                       </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>





{% endblock %}

{% block java %}
    <script src="{% static 'assets/js/Vuelos.js' %}"></script>
{% endblock %}