{% extends 'base/base.html' %}


{% block style %}
    <style>
    :root{
    --white: white;
    --color: #4EB5FD;
    --color2: #4EB5FD99;
    --black1: #24252A;
    }

    .btn-primary{
        background-color: var(--color);
        border-color: var(--color2);
    }
    .btn-primary:hover{
        background-color: var(--color2);
        border-color: var(--color2);
    }

         .container-fluid {
            height: 100%; /* Ajusta la altura según tus necesidades */
            overflow-y: auto; /* Esto hace que la div sea scrollable en el eje Y */
            border: 1px solid #ccc; /* Añade un borde para visualización */
            padding: 10px; /* Añade un relleno opcional */
        }

    </style>
{% endblock %}


{% block javascript %}
    <script>
        function eliminarProducto(id){
            Swal.fire({
                'tittle':'Cava Jiquilpan',
                'text' : 'Esta accion no se puede deshacer',
                'icon':'question',
                'showCancelButton':true,
                'cancelButtonText':'No, Cancelar',
                'confirmButtonText':'Si, Eliminar',
                'reverseButtons':true,
                'confirmButtonColor':'#E74A3B'
            }).then(function (result){
                if (result.isConfirmed){
                    window.location.href="/reservas/reservasV_list.html/"+id+"/"
                }
            })
        }
    </script>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- DataTales Example -->
       <div class="shadow mb-4">
            <div class="card-header py-3">
                <a href="{% url 'ventas_new' %}" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Nueva Venta</span>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <td>Reserva</td>
                                <td>Clientes</td>
                                <td>Total</td>
                                 <td>Saldo</td>
                                <td>Estado</td>
                                <td>Fecha</td>
                                <td>Tipo</td>
                                <!-- Otros campos de tu modelo Venta -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for venta in ventas %}
                                <tr>
                                    <td>{{ venta.reservas.all|join:", " }}</td>
                                     <td>
                                        <select>
                                            {% for reserva in venta.reservas.all %}
                                                {% for cliente in reserva.clientes.all %}
                                                    <option value="{{ cliente.idcliente }}">{{ cliente.nombrec }}</option>
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>{{ venta.total }}</td>
                                    <td>{{ venta.saldo }}</td>


                                     {% if venta.estado == 'P' %}
                                    <td class="text-center"><span class="status pago">Pagado</span></td>
                                    {% elif venta.estado == 'NP' %}
                                    <td class="text-center"><span class="status apago">En pago</span></td>
                                    {% endif %}

                                    <td>{{ venta.fechaV }}</td>
                                    <td>{{ venta.tipo }}</td>
                                    <!-- Otros campos de tu modelo Venta -->
                                    <td class="text-center">
                                        <a href="#" class="btn btn-success btn-circle btn-sm">
                                            <i class="fas fa-cash-register"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href=" {% url 'ventas_update' venta.claveV%} " class="btn btn-warning btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href=" {% url 'ventas_delete' venta.claveV%} " class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            <!-- PAGINACION -->
            <div class="row">
        <div class="col-lg-12">
            {% if page_obj.has_other_pages %}
                <nav>
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">
                                    Primero
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    Anterior
                                </a>
                            </li>
                        {% endif %}

                        {% for page_number in page_obj.paginator.page_range %}
                            {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                                {% if page_obj.number == page_number %}
                                    <li class="page-item active">
                                        <a class="page-link" href="?page={{ page_number }}">
                                            {{ page_number }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_number }}">
                                            {{ page_number }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    Siguiente
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                    Ultimo
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>


            </div>
        </div>
    </div>
{% endblock content %}