@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
body{
    font-family: "Poppins", sans-serif;
}

:root{
    --white: white;
    --color: #FD6495;
    --color2: #FD649599;
    --black1: #24252A;
    --tamañoOps: 90px;
}


/*CALENDARIO FRAME*/
iframe {height:93.1vh; }


.frameC
{
    display: none;
}
.frameC.showC
{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
}


.reservas{
    position: relative;
    width: 100%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 63% 34.2%;
    padding-left: 10px;
    /* margin-top: 10px; */
}

.reservas .recientes{
    position: relative;
    display: inline;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    max-height: 720px;
    overflow: scroll;

}
.reservas .recientes::-webkit-scrollbar {
    display: none;
  }

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
}

.titulo h2{
    font-weight: 600;
    color: var(--color);
}

.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--color);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.reservas table{
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

.reservas table thead td{
    font-weight: 600;
}

.reservas .recientes table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.reservas .recientes table tr:last-child{
    border-bottom: none;
}
.reservas .recientes table tbody tr:hover
{
    background: var(--color);
    color: var(--white);
}

.reservas .recientes table tr td
{
    padding: 10px;
}

.reservas .recientes table tr td:last-child
{
    text-align: center;
}

.reservas .recientes table tr td:nth-child(2)
{
    text-align: center;
}

.reservas .recientes table tr td:nth-child(3)
{
    text-align: center;
}
.reservas .recientes table tr td:nth-child(4)
{
    text-align: center;
}

.status.pago{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.apago{
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

/* Opciones de reservas */
.reservas .ops{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 95%;
    height: max-content;
    padding: 10px 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-left: 10px;
    align-items: center;
}

.ops h2
{
    font-weight: 600;
    margin: 7px;
    color: var(--color);
}

.ops .btn
{
    margin: auto;
    margin-top: 20px;
    font-weight: 600;
    text-decoration: none;
    background: var(--color);
    transition: 0.5s;
    text-align: center;
    width: 50%;
    transition: 0.5s;

}
.ops .btn:hover{
    box-shadow: 0 15px 25px var(--color2);
    transform: scale(1.15);
    transition: 0.5s;
}

.opciones{
    position: relative;
    height: var(--tamañoOps);
}

.opciones ul{
    display: flex;
    padding-left: 0;
}

.opciones ul li
{
    position: relative;
    list-style: none;
    width: var(--tamañoOps);
    height: var(--tamañoOps);
    z-index: 1;
}

.opciones ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--black1);
    text-align: center;
    text-decoration: none;
}

.opciones ul li a .icon
{
    position: relative;
    line-height: 75px;
    transition: 0.5s;
    font-size: 60px;
}

.opciones ul li.active2 a .icon
{
    font-size: 45px;
    transform: translateY(-6px);
    color: white;
}

.opciones ul li a .text
{
    position: relative;
    font-size: 16px;
    color: var(--black1);
    bottom: 30px;
    font-weight: 400;
    transition: 0.5s;
    text-transform: uppercase;
    transform: scale(0);
}

.opciones ul li.active2 a .text
{
    transform: scale(1);
    color: white;
}

.indicador{
    position: absolute;
    left: 0;
    top: 0;
    width: var(--tamañoOps);
    height: var(--tamañoOps);
    border-radius: 10px;
}

.opciones ul li:nth-child(1).active2 ~ .indicador
{
    background: var(--color);
    box-shadow: 0 15px 25px var(--color2);
    transform: translateX(calc(var(--tamañoOps) * 0));
    transition: 0.5s;
}
.opciones ul li:nth-child(2).active2 ~ .indicador
{
    background: var(--color);
    box-shadow: 0 15px 25px var(--color2);
    transform: translateX(calc(var(--tamañoOps) * 1));
    transition: 0.5s;
}
.opciones ul li:nth-child(3).active2 ~ .indicador
{
    background: var(--color);
    box-shadow: 0 15px 25px var(--color2);
    transform: translateX(calc(var(--tamañoOps) * 2));
    transition: 0.5s;
}
.opciones ul li:nth-child(4).active2 ~ .indicador
{
    background: var(--color);
    box-shadow: 0 15px 25px var(--color2);
    transform: translateX(calc(var(--tamañoOps) * 3));
    transition: 0.5s;
}
.opciones ul li:nth-child(5).active2 ~ .indicador
{
    background: var(--color);
    box-shadow: 0 15px 25px var(--color2);
    transform: translateX(calc(var(--tamañoOps) * 4));
    transition: 0.5s;
}

/* Tipo de servicios */
.opciones2{
    position: relative;
}

.opciones2 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.opciones2 ul li
{
    position: relative;
    list-style: none;
    width: 130px;
    height: 130px;
    border-radius: 20px;
    z-index: 1;
}
.opciones2 ul li.active2
{
    background: var(--color);
    box-shadow: 0 15px 25px var(--color2);
    transition: 0.5s;
}

.opciones2 ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--black1);
    text-align: center;
    text-decoration: none;
}

.opciones2 ul li a .icon
{
    position: relative;
    line-height: 75px;
    transition: 0.5s;
    font-size: 100px;
}

.opciones2 ul li.active2 a .icon
{
    font-size: 80px;
    transform: translateY(10px);
    color: white;
}

.opciones2 ul li a .text
{
    position: relative;
    font-size: 16px;
    color: var(--black1);
    bottom: 2px;
    font-weight: 400;
    transition: 0.5s;
    text-transform: uppercase;
    transform: scale(0);
    color: white;
}

.opciones2 ul li.active2 a .text
{
    transform: scale(1);
}

.btn-expand  {
    display: none;
}

.minimizar-ops
{
    display: none;
}

.opsM{
    display: none;
}

.closeRC{
    position: absolute;
    left: 10px  ;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}

/* CLIENTES RECIENTES */

.ops-right {
    position: relative;
    min-height: 530px;
    max-height: 530px;
    padding: 30px;
    background-color: var(--white);
    width: 92%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    overflow-x: hidden;
}
.ops-right::-webkit-scrollbar {
    display: none;
  }

.ops-right .header h2
{
    margin: 0;
    padding: 0;
    color: var(--color);
}

.ops-right .imbBx{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.ops-right .imbBx img{
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ops-right table{
    width: 100%;
}

.ops-right table tr td
{
    padding: 7px 0px;
}
.ops-right table tr
{
    transition: 0.5s;
    position: relative;
}
.ops-right table tr:hover{
    background-color: var(--color);
    box-shadow: 0 0px 20px var(--color2);
    transform: scale(1.01);
    transition: 0.5s;
    color: azure;
}

.ops-right .tdi
{
    padding-left: 10px;
}
.ops-right table tr td h4{
    margin: 0;
}
.ops-right table tr td span{
    font-size: 14px;
}


.ops-right tr:hover .iconos{
    transition: 0.2s;
    color: azure;
}


.ops-right .iconos
{
    cursor: pointer;
    display: flex;
    gap: 10px;
    color: var(--color);
    position: absolute;
    top: 18px;
    right: 30px;
    font-size: 25px;
    transition: 0.2s;
}

.ops-right .iconos ion-icon
{
    transition: 0.5s;

}
.ops-right .iconos ion-icon:hover
{
    transform: scale(1.41);
    transition: 0.5s;
}

/* REGISTRO DE CLIENTE */
.RegCli.hiddenRC{
    height: 0;
    transition: 0.3s;
}

.RegCli.hiddenRC *
{
    display: none;
}

.RegCli{
    position: absolute;
    background-color: var(--white);
    top: calc(50% - 92%/2);
    left: calc(50% - 1263px/2);
    width: 1263px;
    height: 92%;
    z-index: 1000;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s ;
}

.titulo-regcli
{
    position: absolute;
    top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.RegCli form{
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.RegCli .Campo{
    position: relative;
    width: 100%;
    background-color: #e6e6e6;
    border-radius: 50px;
    height: 50px;
    text-align: center;
}

.RegCli .Campo input{
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: bold;
    background: rgba(0, 0, 0,0);
    box-sizing: border-box;
    padding: 0 30px 0 50px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #666666;
}

.RegCli .iconoRG{
    position: absolute;
    font-size: 15px;
    left: 27px;
    top: calc(50% - 8px);
    transition: all 0.4s;
}
.RegCli .iconoRG.click
{
    transform: translateX(-7px);
    color: var(--color);
    transition: all 0.4s;
}


.RegCli .btn-div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.btn-reg.btn-modificar.hide{
    display: none;
}
.btn-reg.btn-agregar.hide{
    display: none;
}
.RegCli .btn-reg{
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--color);
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    transition: all 0.4s;
    cursor: pointer;
}

.RegCli .img-borde
{
    display: flex;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background: rgb(253,100,149);
    background: linear-gradient(0deg, var(--color2) 61%, var(--color) 100%);
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.4s;
}

.RegCli .img-borde img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 5px white;
    transition: all 0.4s;
    object-fit: contain;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}


.input-file + label {
    position: absolute;
    top: 375px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: var(--color);
    width: 60px;
    height: 60px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateX(-10px);
}

.input-ico
{
    font-size: 35px;
}

.input-file:focus + label,
.input-file + label:hover {
    background-color: var(--color2);
}

.RegCli .form-edad{
    margin-top: 20px;
}

.RegCli .fecha-naci
{
    display: flex;
    border-radius: 10px;
    background-color: #e6e6e6;
}

.RegCli .Campo.fecha{
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    height: 50px;
    text-align: center;
}

.RegCli .Campo.fecha input{
    padding: 0;
    width: 90%;
    height: 100%;
    text-align: center;
}

.RegCli #mes,#año
{
    border-left: solid 2px #24252A;
}

/* FOCUS DEL INPUT */
.sombra-focus {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(253, 100, 149, 0.5);
  }

  .input:focus + .sombra-focus {
    animation: ani-sombra 0.5s ease-in-out;
  }

  .btn-reg:hover
  {
    box-shadow: 0 0px 50px var(--color2);
    transform: scale(1.01);
    transition: all 0.4s;
  }


  .img-div .img-borde:hover
  {
    box-shadow: 0 0px 70px var(--color2);
    transform: scale(1.01);
    transition: all 0.4s;
  }

  @keyframes ani-sombra {
    to {
      box-shadow: 0px 0px 60px 25px;
      opacity: 0;
    }
  }


  /* Clases para minimizar la ventanas modales */
  .img-div.hide{
      display: none;
  }
  .forma.hide{
      display: none;
  }

.removeC.hide{
    display: none;
}
.addC.hide{
    display: none;
}

  /* Diseño de tablas para eliminar */
        .RegCli.eliminar{

        }

        .recientes{
            display: none;
        }
        .RegCli.eliminar .recientes{
            display: inline-block;
            min-height: 500px;
            max-height: 550px;
            overflow: scroll;
            margin-top: 50px;
        }
        .RegCli.eliminar .recientes .titulo h2{
            margin: 10px 0;
        }
        .RegCli.eliminar table{
            border-collapse: collapse;
            margin-top: 10px;
        }

        .RegCli.eliminar table thead td{
            font-weight: 600;
        }

        .RegCli.eliminar .recientes table tr{
            color: var(--black1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .RegCli.eliminar .recientes table tr:last-child{
            border-bottom: none;
        }
        .RegCli.eliminar .recientes table tbody tr:hover
        {
            background: var(--color);
            color: var(--white);
        }

        .RegCli.eliminar .recientes table tr td
        {
            padding: 10px;
        }

        .RegCli.eliminar .recientes table tr td:last-child
        {
            text-align: center;
        }

        .RegCli.eliminar .recientes table tr td:nth-child(3)
        {
            text-align: center;
        }

        .RegCli.eliminar .recientes table tr td:nth-child(4)
        {
            text-align: center;
        }
        .RegCli.eliminar .recientes table tr td:nth-child(5)
        {
            text-align: center;
        }

        .img-delete{
            display: flex;
            margin-bottom: 70px;
        }
        .img-delete.hide{
         display: none;
        }


@media (max-width: 1312px) {
    body{
        padding-left: 0px;
    }

    .btn-expand  {
        display: flex;
        background-color: var(--color);
        padding: 10px;
        text-decoration: none;
        color: white;
        border-radius: 10px;
        align-self: flex-start;
        transition: all 0.7s ease-in-out;
    }

    .btn-expand.hidden{
        transform: scale(0);
        position: absolute;
        transition: all 0.1s ease;
    }

    .btn-expand:hover{
        box-shadow: 0 0px 20px var(--color2);
        transform: scale(1.01);
        transition: 0.5s;
    }

    .reservas{
        position: relative;
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 0px;
        /* margin-top: 10px; */
    }

    .ops.mini{
        height: 45px;
        border: none;
        box-shadow: none;
        margin-left: 0;
        padding-left: 5px;
        padding-top: 6px;
        margin: 0px;
        transition: all 0.7s ease-in-out;
    }

    .ops.mini .minimizar-ops{
        transform: scale(0);
    }

    .minimizar-ops
    {
        display: flex;
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        font-size: 30px;
    }

    .ops{
        grid-row: 1;
        height: 390px;
        margin-bottom: 15px;
        overflow: hidden;
        transition: all 0.7s ease-in-out;
    }

    .reservas .ops{
        align-items: center;
        text-align: center;
        width: 93%;
        margin-top: 10px;
    }

    .ops h2
    {
    margin: 15px 0px 5px 0px;
    }

    .ops h2:nth-child(1)
    {
        margin-top: 0px;
    }

}

/* Aqui voy */
/* Resize del ops */
@media (max-width: 842px) {

    .opciones2 ul li
{
    width: 90px;
    height: 90px;
}


.opciones2 ul li a .icon
{
    font-size: 80px;
}

.opciones2 ul li.active2 a .icon
{
    font-size: 60px;
}

.opciones2 ul li a .text
{
    font-size: 13px;
    bottom: 10px;
}



}


@media (max-width: 649px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .reservas{
        display: flex;
        flex-direction: column;
    }

    .opsM{
        display: block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .opsM button{
       width: 100px;
       height: 50px;
       background-color: #8de02c;
       border: none;
       color: white;
       font-weight: bold;
       border-radius: 10px;
       font-family: 'Poppins',sans-serif;
       font-size: 17px;
       cursor: pointer;
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: space-around;
    }

    .opsM ion-icon{
        font-size: 25px;
    }

    .dropdown{
        display: block;
        position: relative;
        margin-top: 15px;
        margin-right: 10px;
        width: 170px;
        height: 50px;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .dropdown .icon{
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 30px;
        transition: all .5s ease-in-out;
    }
    .dropdown.active2 .icon{
        transform: rotate(180deg);
        transition: all .5s ease-in-out;
    }

    .dropdown input{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        background: var(--white);
        border: none;
        outline: none;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        padding: 10px 20px;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .dropdown input.textBox{
        font-family: "Poppins", sans-serif;
        font-size: 15px;
    }

    .dropdown .opcciones
    {
        position: absolute;
        top: 55px;
        width: 100%;
        background: var(--white);
        border-radius: 10px;
        overflow: hidden;
        height: 0;
        z-index: 1000;
        transition: .5s ease-in-out;
    }
    .dropdown.active2 .opcciones
    {
        height: 252px;
        transition: .5s ease-in-out;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }


    .dropdown .opcciones div{
        padding: 12px 20px;
        cursor: pointer;
    }

    .dropdown .opcciones div:hover{
        background: var(--color);
        color: #fff;
    }

    .dropdown .opcciones div ion-icon
    {
        position: relative;
        top: 4px;
        font-size: 20px;
        padding-right: 5px;
    }


}

@media (max-width: 650px) {
    body{
    }

    .reservas table{
        font-size: 12px;
    }

    .titulo h2{
        font-size: 16px;
    }
    
    .btn{
        font-size: 12px;
    }
    

    .reservas .ops{
        max-height: none;
    }

    .status.pago{
        font-size: 12px;
    }
    .status.apago{
        font-size: 12px;
    }

    .reservas .ops{
        display: none;
    }
}

@media (max-width: 540px) {
    body{
        flex-direction: column;
    }

    .reservas{
        display: flex;
        flex-direction: column;
    }

    .reservas .recientes{
      padding: 12px;
      width: 99%;
    }


    .reservas table{
        font-size: 10px;
    }

    
    .titulo h2{
        font-size: 15px;
    }
    
    .btn{
        font-size: 11px;
    }
    

    .reservas .ops{
        max-height: none;
    }

    .status.pago{
        font-size: 8px;
    }
    .status.apago{
        font-size: 7px;
    }

    .dropdown{
        width: 140px;
    }
    
    .dropdown .icon{
        right: 8px;
        top: 9px;
    }
}

@media (max-width: 397px) {

    .dropdown{
        width: 140px;
    }

    .opsM
    {
        justify-content: center;
        margin-bottom: 10px;
    }

    .opsM button{
        width: 200px;
        justify-content: space-evenly;
        font-size: 20px;
    }

    .opsM ion-icon{
        font-size: 40px;
    }

    .titulo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-width: none;
    }
    .titulo h2{
        font-size: 14px;
    }

    .reservas .recientes{
        padding: 10px;
        width: 100%;
      }

    .titulo a{
        width: 70px;
        text-align: center;
        justify-self: right;
    }

}
